* {
  box-sizing: border-box;
}

body {
  background: url(../images/Picture1.png);
  background-size: cover;
}

button {
  background-color: purple;
  color: white;
  margin: 5px;
  border: 1px solid gray
}

.topic-item {
  float: left;
  margin: 5px;
}